<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0" nonce="BiMWNTdN"></script>
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var sizew = window.innerWidth;
        if(sizew < 760){
            $('.form-search .btn-submit').on('click',function (){
                $('.form-search').toggleClass('active');
            });
        }

        // active navbar of page current
        var urlcurrent = window.location.href;
        $(".navbar-nav li a[href$='"+urlcurrent+"'],.nav-category li a[href$='"+urlcurrent+"']").addClass('active');
    });
</script>
</body>
</html>