<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/react.development.js"></script>
<script src="./assets/js/react-dom.development.js"></script>
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/jquery.gallery.js"></script>
<script src="./assets/js/modernizr.custom.53451.js"></script>
<script src="./assets/js/helper_function.js"></script>
<script src="./assets/js/landing.js"></script>
<script src="./assets/js/landing-react.js"></script>
<script>
    $(document).ready(function () {

    });
</script>
</body>
</html>