<main class="pr">
   <div class="modal fade modal-img" id="modal-img">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <a href="/sporttv/build/landing.html"><img src="./assets/img/popup.png" alt=""></a>
            </div>
        </div>
    </div>
    <!--<a href="/sporttv/build/landing.html" title="" class="link_landing"><img src="./assets/img/popup.png" alt=""></a>-->
</main>