@mixin center_y($position){
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
@mixin center_x($positon){
  position: $positon;
  left: 50%;
  transform: translateX(-50%);
}
@mixin position_center($position){
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@mixin block($display, $w, $h){
  display: $display;
  width: $w;
  height: $h;
}

@function vw($target) {
  $vw-context: (1920 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@function vwm($target) {
  $vw-context: (640 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@function v($var) {
  @return var(--#{$var});
}

$img-path: "../img";
$font-path: "../font";

%hover{-webkit-filter: saturate(1.6); filter: saturate(1.6);}
img.bg{max-width: 100%;}
a{text-decoration: none;}
.flex{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.flex_center{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.flex_beween{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.hidden_tab{
  opacity: 0; height: 0; visibility: hidden;
  > *{height: 0; overflow: hidden; z-index: 0; visibility: hidden}
}
.show_tab{
  opacity: 1; height: auto; z-index: 90; transform: translateY(0); transition: 0.6s; visibility: visible;
  > *{height: auto;  z-index: 9; visibility: visible}
}

//style page





/*popup*/
%popup{
  opacity: 0; visibility: hidden; position: fixed; left: 50%; top: 50%; transform: translateX(-50%) translateY(-1000px);  z-index: 999;
  &.open_popup{transition: all .4s linear 0s;}
}
.popup-giftcode{
  @extend %popup; width: 500px; padding: 15px; background: #fff;
  h4{display: block; margin-bottom: 20px; text-align: center; font: 26px Tahoma; color: #179526; text-transform: uppercase;}
  p{display: block; text-align: center; font: 18px Tahoma;}
  p span{color: #c00;}
}
.popup-video{
  @extend %popup; width: 800px; height: 460px; background: #000;
  iframe{width: 100%; height: 100%;}
  @media (max-width: 1024px) {
    width: 94%; height: 60%;
  }
  @media (orientation: landscape) {
    width: 100%; height: 100%;
  }
}
.modal-popup{
  @include block(none,100%,100%); opacity: 0; visibility: hidden; background: rgba(0,0,0,0.5); position: fixed; top: 50%; left: 50%; z-index: 99;
  &.open_popup{display: block;}
}
a.close_popup{position: absolute; top: 0; right: 0; background: #c00; padding: 4px; font-size: 16px; color: #fff;}
.open_popup{opacity: 1; visibility: visible; transform: translateX(-50%) translateY(-50%);}

//footer
footer{
  margin-top: -1px;
  background: #f4f7fc;
  padding: 10px 0;
  color: #000;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  .fixCen{width: 1000px; margin: 0 auto;}
  img.limit{right: 0; top: 0; position: absolute;}
  a{color: #2f6f9f;}
  a.shg{
    display: block;
    background: url(https://sohagame.vcmedia.vn/project/m/sg148/pc/images/home/logo-soha.png) no-repeat;
    width: 157px;
    height: 35px;
    position: absolute;
    top: 25px;
    left: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}

@keyframes rotate {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
}
.rotate{
  animation: rotate;
  -webkit-animation-name: rotate;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


// slick js
.slick-slider{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}