:root{
  --TUV-Domaine: TUV-Domaine, sans-serif;
  --UTMAlbertaHeavy: UTMAlbertaHeavy, sans-serif;
}
body{
  background: #000;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-thumb{background: #888;}
  &::-webkit-scrollbar-track{background: #ccc;}
}

html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
.pr{position: relative;}
button:focus{outline: none;}

@font-face {
  font-family: TUV-Domaine;
  src: url("#{$font-path}/TUV-Domaine-Regular.ttf");
}

@font-face {
  font-family: UTMAlbertaHeavy;
  src: url("#{$font-path}/UTMAlbertaHeavy.ttf");
}

img{max-width: 100%;}
a{transition: .25s;}
.logo_limmit{width: vw(150px);}
a:hover{text-decoration: none;}
main{
  height: vw(4680px);
  .bg-main{width: 100%; height: 100%; object-fit: cover;}
}
.main-inner{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.page{position: relative; overflow: hidden;}
.page1{
  height: vw(1490px);
  h1{display: inline-block; margin: vw(40px) 0 0 vw(460px);}
  .logo{
    display: block; width: vw(363px);
    &:hover{@extend %hover;}
  }
  .video{
    width: vw(169px); height: vw(128px);
    background: url("#{$img-path}/landing/traier.png") no-repeat 0 0/contain;
    position: absolute; left: vw(415px); top: vw(834px);
    animation: pulse 1s infinite linear;
  }
  .diemdanh{
    width: vw(958px); height: vw(274px);
    margin: vw(890px) 0 0 vw(428px);
    &__btn{
      width: vw(186px); margin-left: vw(27px); padding-top: vw(80px);
      a,button{width: vw(170px); height: vw(62px); display: block; margin: 0 auto vw(11px); font-size: 0; border: none;}
      a:hover{@extend %hover;}
      .btn_login{background: url("#{$img-path}/landing/btn-login.jpg") no-repeat 0 0/contain;}
      .btn_rule{background: url("#{$img-path}/landing/btn-rule.jpg") no-repeat 0 0/contain;}
    }
    &__list{
      width: vw(744px); align-items: center; padding: vw(10px) vw(7px) 0;
      li{padding: 0 vw(6px);}
      li .img{display: flex; align-items: flex-end; justify-content: center; padding-bottom: vw(12px);}
      li img{max-width: vw(84px); filter: grayscale(1);}
      li:nth-child(1) img{max-width: vw(59px);}
      li:nth-child(2) img{max-width: vw(66px);}
      li:nth-child(3) img{max-width: vw(76px);}
      .img{width: vw(90px); height: vw(90px); background: url("#{$img-path}/landing/bg-item-hv.png") no-repeat 0 0/contain;}
      span{display: block; margin: vw(16px) 0; text-align: center; font: vw(16px) var(--TUV-Domaine); color: #48535b;}
      a{
        width: vw(92px); height: vw(25px); display: block; margin: 0 auto;
        background: url("#{$img-path}/landing/btn2.png") no-repeat 0 0/contain;
        font: vw(14px) var(--TUV-Domaine);
        color: #fff; text-align: center; line-height: vw(24px);
      }
      .active{
        img{filter: grayscale(0);}
        .img{background: url("#{$img-path}/landing/bg-item1.png") no-repeat 0 0/contain;}
        a{background: url("#{$img-path}/landing/btn.png") no-repeat 0 0/contain;}
        span{color: #e04f14;}
      }
    }
  }
}
.page2{height: vw(906px); padding-top: vw(140px);}
.wheel{
  width: vw(1165px); height: vw(585px); margin: 0 auto;
  canvas{
    width: vw(548px); height: vw(548px); display: block; margin: 0 auto;
    background: url("#{$img-path}/landing/vongquay.png") no-repeat 0 0/contain;
  }
  .spin_button{
    width: vw(120px); height: vw(144px);
    background: url("#{$img-path}/landing/arrow.png") no-repeat 0 0/contain;
    position: absolute; top: vw(193px); left: 50%; transform: translateX(-50%);
    &:hover{@extend %hover;}
  }
  &__btn{
    margin-top: vw(-30px);
    position: relative;
    z-index: 2;
    >*+*{margin-left: vw(16px);}
    li:nth-child(3){margin-left: vw(315px);}
    a,span{
      width: vw(203px); height: vw(58px); display: block;
      background: url("#{$img-path}/landing/btn1.png") no-repeat 0 0/contain;
      font: vw(20px) var(--UTMAlbertaHeavy);
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      line-height: vw(58px);
    }
    a:hover{@extend %hover;}
  }
}

.page3{height: vw(1094px);}
.charcter{
  height: 100%;
  &__select{
    position: absolute; top: vw(753px); right: vw(250px); z-index: 3;
    li{margin: 0 vw(-5px); cursor: pointer;}
    .icon{width: vw(116px); height: vw(95px); display: block; transition: background .15s linear;}
    .icon-1{background: url("#{$img-path}/landing/ic1.png") no-repeat 0 0/contain;}
    .icon-2{background: url("#{$img-path}/landing/ic2.png") no-repeat 0 0/contain;}
    .icon-3{background: url("#{$img-path}/landing/ic3.png") no-repeat 0 0/contain;}
    .icon-4{background: url("#{$img-path}/landing/ic4.png") no-repeat 0 0/contain;}
    .active{
      .icon-1{background: url("#{$img-path}/landing/ic1-active.png") no-repeat 0 0/contain;}
      .icon-2{background: url("#{$img-path}/landing/ic2-active.png") no-repeat 0 0/contain;}
      .icon-3{background: url("#{$img-path}/landing/ic3-active.png") no-repeat 0 0/contain;}
      .icon-4{background: url("#{$img-path}/landing/ic4-active.png") no-repeat 0 0/contain;}
      span{color: #edba5d;}
    }
    span{
      display: block;
      text-align: center;
      color: #fff;
      text-transform: capitalize;
      font-size: vw(18px);
    }
  }
  &__img{
    position: absolute; left: vw(272px); z-index: 2;
    &--nhatnguyet{width: vw(995px); top: vw(150px);}
    &--daohoa{width: vw(1197px); top: vw(100px);}
    &--ngudoc{width: vw(1203px); top: vw(88px);}
    &--tangkiem{width: vw(1195px); top: vw(-18px);}
  }
  &__video{
    width: vw(986px); height: vw(580px); padding: vw(26px);
    background: url("#{$img-path}/landing/bg-trailer.png") no-repeat 0 0/contain;
    position: absolute; top: vw(170px); right: vw(-38px);
  }
}
.page4{height: vw(1190px); padding-top: vw(155px);}
.box_slider {
  position: relative;
  width: 1364px;
  height: 530px;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 1600px) {
    margin-top: vw(0px);
    transform: scale(.8);
  }
  @media (max-width: 1440px) {
    width: auto;
    margin-top: vw(-100px);
    transform: scale(.7);
  }
}
.dg-container {
  position: relative;
  width: 100%;
  height: 530px;
}
.dg-wrapper {
  width: 945px;
  height: 530px;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.dg-wrapper .item {
  width: 100%;
  height: 530px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0s;
  img{filter: brightness(0.3); transition: .25s;}
  &.dg-center img{filter: brightness(1);}
}

.dg-wrapper .item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dg-wrapper .item.dg-transition {
  transition: all 0.5s ease-in-out;
}

.dg-wrapper .item.dg-transition-fast {
  transition: all 0.2s ease-in-out;
}

.dg-container nav {
  span{
    width: 75px; height: 109px;
    background: url("#{$img-path}/landing/next.png") no-repeat 0 0/contain;
    position: absolute;
    top: 50%; transform: translateY(-50%);
    cursor: pointer;
  }
}

.dg-container nav span:hover {
  opacity: 1;
}

.dg-container nav span.dg-next {
  right: 85px;
}
.dg-container nav span.dg-prev {
  left: 85px; transform: translateY(-50%) rotate(180deg);
}

.modal{
  .modal-content{border: none;}
  .modal-title{font: vw(37px) var(--TUV-Domaine); color: #0b141b; text-transform: capitalize; text-align: center;}
  .close{position: absolute;}
}
.popup-rule{
  .modal-dialog{max-width: vw(1269px);}
  .modal-content{
    width: 100%; height: vw(605px);
    background: url("#{$img-path}/landing/popup2.png") no-repeat 0 0/contain;
    padding: vw(110px) vw(30px) vw(25px) vw(425px);
  }
  article{
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar{width: 4px;}
    &::-webkit-scrollbar-thumb{background: #888;}
    &::-webkit-scrollbar-track{background: #ccc;}
  }
  .close{width: vw(56px); height: vw(56px); right: 0; top: vw(53px);}
}
.popup-vq{
  .modal-dialog{max-width: vw(730px);}
  .modal-content{
    width: 100%; height: vw(415px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("#{$img-path}/landing/popup.png") no-repeat 0 0/contain;
    padding: vw(80px) vw(65px) vw(25px) vw(25px);
  }
  .result-vq{
    font-family: var(--TUV-Domaine);
    .img{
      margin: vw(10px) auto; max-width: vw(120px);
      img{display: block; margin: 0 auto;}
    }
    h4,p{margin: 0;}
    h4{font-size: vw(27px); color: #482000; text-transform: capitalize; text-align: center;}
    p{color: #8f0000; font-size: vw(32px); text-transform: uppercase;}
  }
  .close{width: vw(40px); height: vw(40px); right: 0; top: vw(66px);}
}

footer{
  background: rgba(#000,.8);
  font-size: vw(16px);
  color: #fff;
}